@import url(https://fonts.googleapis.com/css?family=Orbitron&display=swap);

body {
    font-family: 'Orbitron', 'Courier New', Courier, monospace;
    background: rgb(184,184,184);
background: radial-gradient(circle, rgba(184,184,184,1) 0%, rgba(111,111,111,1) 100%);
box-sizing: border-box;
}

h1 {
    font-family: 'Orbitron', 'Courier New', Courier, monospace;
    text-align: center;
    padding: 50px;
}

p, button {
    font-family: 'Orbitron', 'Courier New', Courier, monospace;
}


#calculator {
    width: 500px;
    height: 670px;
    margin: auto;
    border-radius: 25px;
    background-color: #ddd;
    background-image: -webkit-linear-gradient(126deg, rgba(17, 17, 17, 0.411) 30%, transparent 55%),-webkit-linear-gradient(top, rgba(136, 136, 136, 0.411), transparent);
    box-shadow: 30px 30px 20px 2px rgba(0,0,0,0.2), -5px -5px 10px 5px rgba(0,0,0,0.8) inset;
    border-top: 1px rgba(0,0,0,0) solid;

}

#screen-container {
    margin-top:20px;
    margin-left: 15px;
    width: 470px;
    height:150px;
    border-radius: 25px;
    background: rgb(107,133,97);
background: linear-gradient(135deg, rgba(107,133,97,1) 25%, rgba(149,179,137,1) 39%, rgba(255,255,255,1) 45%, rgba(149,179,137,1) 49%, rgba(149,179,137,1) 50%, rgba(255,255,255,1) 55%, rgba(149,179,137,1) 58%, rgba(107,133,97,1) 69% );
box-shadow:  -10px -10px 15px 5px rgba(0, 0, 0, 0.178) inset, 0px 0px 3px 4px rgba(12, 63, 8, 0.7) inset, 1px 1px 2px 4px rgba(255,255,255,0.3);
}

#screen-container::before {
    content: '';
	position: absolute;
	border-radius: 25px;
	width: 470px;
	height: 150px;
    background-image: -webkit-linear-gradient(283deg, rgba(255, 255, 255, 0.1) 50%, transparent 55%),-webkit-linear-gradient(top, rgba(255, 255, 255, 0.534), transparent 50%);
    
}


#screen {
    margin-top: 12px;
    margin-left: 20px;
    width: 430px;
    height: 125px;
    text-align: right;
    overflow: auto;
    
}

.screentext {
    display: inline;
    font-size: 36pt;
}

.previous-operand {
    font-size: 24pt;
    color:rgba(0, 0, 0, 0.726);
    min-height: 30pt;
    margin-top: 10px;
    margin-bottom: 10px;
}

.current-operand {
    overflow: hidden;
    overflow-wrap: break-word;
    font-size: 36pt;
    position: relative;
    bottom: 0px;
    color: rgba(0, 0, 0, 0.726);
}

#grid {
    border: 1px rgba(51, 51, 51, 0.616) solid transparent;
    padding: 5px 0px 10px 0px; 
    border-radius: 25px;
    width: 445px;
    height: 450px;
    margin-top: 15px;
    margin-left: 15px;
    display: grid;
    grid-template-columns: 4;
    grid-template-rows: 4;
    column-gap: normal;
    padding-left: 20px;
    background: rgb(160,160,160);
    background: radial-gradient(circle, rgba(160,160,160,1) 50%, rgba(51,51,51,0.5) 100%);
    box-shadow:  0px 0px 15px 5px rgba(43, 43, 43, 0.541) inset, 0px 0px 4px 4px rgba(0,0,0,0.2) inset, 0px 0px 3px 5px rgba(255,255,255,0.3);
}

button {
    align-self: center;
    text-align: center;
    height: 75px;
    width: 75px;
    border: none;
    border-radius: 15px;
    font-size: 36pt;
    font-weight: bold;
    cursor: pointer;
    background-color: rgb(221, 221, 221);
   
    /* gradient background */

    background-image: -webkit-linear-gradient(283deg, rgba(17, 17, 17, 0.1) 50%, transparent 55%),-webkit-linear-gradient(top, rgba(233, 233, 233, 0.301), transparent);
    
    
    box-shadow: 0 0 0 1px rgba(92, 92, 92, 0.15) inset,0 4px 0 0 #333333,0 4px 0 1px rgba(0, 0, 0, 0.2),0 4px 4px 1px rgba(0, 0, 0, 0.2), 1px 1px 2px 4px rgba(255,255,255,0.5) inset;

    -webkit-transition: all linear;
    backdrop-filter: blur(2px);
    transition: transform 
      var(--transition-duration) 
      var(--transition-easing);

    overflow: hidden;

    
}

.grid-item:active {
    transform: translateY(4px);
    background-color: #888;
    background-image: -webkit-linear-gradient(283deg,  rgba(233, 233, 233, 0.301) 50%, transparent 55%),-webkit-linear-gradient(top, rgba(17, 17, 17, 0.1), transparent);
    box-shadow: 0 0 0 0px #333333 inset,0 0 0 2px rgba(92, 92, 92, 0.15) inset,0 2px 0 0 #333333,0 2px 0 1px rgba(0, 0, 0, 0.4),0 2px 2px 1px rgba(0, 0, 0, 0.5), 1px 1px 2px 4px rgba(255,255,255,0.1) inset;
    
    
    
}

.number {
    color: #333;
}

.number:active {
    color: rgba(0, 0, 0, 0.788);
}

.operator {
    color: rgb(255, 67, 67);
}
.operator:active {
    color: rgb(165, 34, 34);
}



#btn-1, #btn-4, #btn-7, #btn-point {
    grid-column-start: 1;
    grid-column-end: 1;
}

#btn-2, #btn-0, #btn-5, #btn-8, #btn-power {
    grid-column-start: 2;
    grid-column-end: 2;
}
#btn-3, #btn-6, #btn-9, #btn-sqrt  {
    grid-column-start: 3;
    grid-column-end: 3;
}

#btn-add, #btn-subtract, #btn-divide, #btn-multiply, #btn-equals {
    grid-column-start: 4;
    grid-column-end: 4;
}

#btn-power {
    font-size: 32pt;
}

sup {
    font-size: 18pt;
}

#btn-sqrt {
    font-family: Tahoma, sans-serif;
    font-weight: 400;
    font-size: 32pt;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    padding-top:20px;
    padding-bottom:20px;
    width: 100%;
    text-align: center;
    font-family: sans-serif;
    font-size: 12px;
    color: rgb(29, 29, 29);
  }
  
  footer a {
    color: #f01515;
  }
  
  footer a:hover {
    color: #a00c0c;
  }